<div pButton type="button" (click)="toggleHeart()" class ="pi pi-heart heart"[ngClass]="{'pi-heart': !isHeartRed, 'pi-heart-fill': isHeartRed}" [class.red-heart]="isHeartRed" style="color:rgb(192, 56, 56)"></div>
<div class="card"  *ngIf="product" (click)="navigateToProduct()">
    <img  class="photo" [src]="'http://127.0.0.1:8081/' + product.photoUrl[0]"   alt="">
    <div class="info">
        <div class="title">{{ product.title}}</div>
        <div class="condition">Stare - {{product.productCondition}}</div>   
        <div class="price">{{product.price + " lei"}}</div>
        <div class="location">{{product.location}}</div>
    </div>
</div>