
<div class="wrapper header">
  
    <div class="" ><img routerLink="/home" class = 'logo'src="assets/logo.png" alt="logo"></div>
      
      <div class="search-group" >
        
        <input class ='search-field' type="text">
        <div class="search-button" routerLink="/search">
          <img src="/assets/search-icon.svg" style="height:24px; ">
        </div>
      </div>
      
      <div class="account-nav">  
        <img *ngIf="isLoggedIn" src="/assets/heart.svg" class="svg" >

        <i   *ngIf="isLoggedIn" class="pi pi-envelope " routerLink="/seller" pBadge value="2" style="font-size: 27px;"></i>
        <p-button *ngIf="!isLoggedIn" routerLink="/login" icon="pi pi-user" label="Login"></p-button>
        
        
        <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
        <button *ngIf="isLoggedIn" pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Contul tau  "></button>
        <p-button routerLink="/add" label="Adauga anunt"></p-button>
    </div>
  
</div>
<hr>
<div class="menu-bar">
  <p-megaMenu [model]="categories"></p-megaMenu>
</div>
<hr>



