
<div class="wrapper header">
  
    <div class="" ><img routerLink="/home" class = 'logo'src="assets/logo.png" alt="logo"></div>
      
      <div class="search-group" >
        
        <input class ='search-field' type="text">
        <div class="search-button" routerLink="/search">
          <img src="/assets/search-icon.svg" style="height:24px; ">
        </div>
      </div>
      
      <div class="account-nav">  
        <img src="/assets/heart.svg" class="svg" >

        <i class="pi pi-envelope "  pBadge value="2" style="font-size: 27px;"></i>
        <p-button routerLink="/login" icon="pi pi-user" label="Login"></p-button>
    
        <p-button routerLink="/add" label="Adauga anunt"></p-button>
    </div>
  
</div>
<hr>
<div class="menu-bar">
  <p-megaMenu [model]="items"></p-megaMenu>
</div>
<hr>



