<div class="container">
  <h1>Adauga un Anunt</h1>
  <form [formGroup]="addProductForm" (ngSubmit)="OnProductSubmit()">
    <input type="text" formControlName="title" placeholder="Titlu">
    <textarea type="text" formControlName="description" placeholder="Descriere" rows=4></textarea>
    <input type="text" formControlName="price" placeholder="Pret">
    <input type="text" formControlName="location" placeholder="Oras">
  
    <select formControlName="categoryId" id="category" class="form-control">
      <option value="">Select a category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <select formControlName="condition"class="form-control" >
      <option value="">Selecteaza conditia</option>
      <option value="Nou">Nou</option>
      <option value="Folosita">Folosita</option>
      <option value="Uzata">Uzata</option>
    </select>
    <p-fileUpload name="myfile[]" (onSelect)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000"> </p-fileUpload>
  
    <p-button type ="submit">Submit</p-button>
  </form>
  
</div>