<div class="wrapper">
<p-tabView (onChange)="fetchFavoriteProducts()">
  <p-tabPanel header="Anunturi">
    <p-tabView>
      <p-tabPanel header="Active" >

        <div class="cards"><app-card *ngFor="let item of userProducts" [product]="item"></app-card>  </div>
      </p-tabPanel>
      <p-tabPanel header="Inactive">
       
      </p-tabPanel>
      
  </p-tabView>
     
  
  </p-tabPanel>
  <p-tabPanel header="Setari">
    <header>
      <h1>User Profile</h1>
  </header>

  <div class="container">
      <form action="#" method="post" enctype="multipart/form-data">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Your Name" required>

          <label for="profilePicture">Profile Picture:</label>
          <input type="file" id="profilePicture" name="profilePicture" accept="image/*">

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Your Email" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Your Password" required>

          <button type="submit">Save Changes</button>
      </form>
  </div>
  </p-tabPanel>
  <p-tabPanel header="Mesaje">
    <header>
      <h1>Messaging App</h1>
  </header>
    <div class="chat-app">
            <p-scrollPanel [style]="{ width: '500px', height: '300px' }" >
              <div class="profiles-list">
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
                <div class="profile"> </div>
            </div>
          </p-scrollPanel>
          <div class="messages">
              <p align = "left" style = "background-color: cadetblue; border-radius: 5px;padding: 10px; display:inline-block; margin-right: 400px">Message from sender</p>
              <p align = "right" style = "background-color: cadetblue; border-radius: 5px;padding: 10px; display:inline-block; margin-left: auto;">Message from receiver</p>
          </div>
        </div>
            </p-tabPanel>
  <p-tabPanel header="Favorite">
    <div class="cards">
      <app-card *ngFor="let item of favoriteProducts" [product]="item"></app-card>
    </div>
  </p-tabPanel>

</p-tabView>

</div>