

.product_info
{
    
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.photo
{
    background-color: rgb(205, 204, 204);
}

p
{
    margin:8px;
}

.button-menu
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width:100%;
    
}

.margin
{
    margin-top:10px;
}

.mesaj
{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    text-align: center;
}

.meta-data
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer
{
    width:49%;
}
.product_description
{
    width: 37%;
    padding-left: 40px;
    
}

.title
{
    font-size: 35px;
    font-weight: bold;
}

.price
{
    font-size: 38px;
}

p
{
    font-size: 20px;
}

.description
{
    color:rgb(136, 136, 136)
}

.condition
{
    background-color:rgba(179, 226, 183, 0.559);
    border-radius: 15px;
    display: inline-block   ;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    margin-top: 30px;
    max-width:900px;
    width:70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .profile-picture-small
  {
    width:80px;
    border-radius: 50%;
  }

  .seller-visit-card
  
  {
    margin-top: 30px;
    display:flex;
    flex-direction:row;
    width:100%;
    border-radius: 20px;
   background-color : rgb(228, 228, 255);
  }

  .stars
  {
    width:100px;
    height: 20px;
  }