

.product_info
{
    
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}



p
{
    margin:8px;
}




.product_description
{
    width: 50%;
    padding-left: 40px;
}

.title
{
    font-size: 35px;
    font-weight: bold;
}

.price
{
    font-size: 38px;
}

p
{
    font-size: 20px;
}

.description
{
    color:rgb(136, 136, 136)
}

.condition
{
    background-color:rgba(179, 226, 183, 0.559);
    border-radius: 15px;
    display: inline-block   ;
}