

<div class="wrapper">
  <div class="product_info">

    <div class="photo">
      <p-galleria [value]="images" [showItemNavigators]="true"  [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '900px' }" >
        <ng-template pTemplate="item" let-item>
            <img [src]="item.source" style="width: 70%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.source" style="display: block; width:50px; height:auto" />
            </div>
        </ng-template>
    </p-galleria>
    </div>

    <div class="product_description">
      <p class="title">Fender MIJ Aerodyne Special Telecaster 2022 - Present - Hot Rod Burst</p>
      <p class="condition">&nbsp; Used - Good&nbsp;    </p>
      <p class="title">7000 lei</p>

      <div class="button-menu">    
        <button pButton class="margin mesaj">Trimite mesaj</button>
        <button pButton class="margin offer p-button-outlined">Offer</button>
        <button pButton class="margin offer p-button-outlined">Watch</button>
        
      </div>

      <div class="meta-data description">
        <div> <b>Postat</b> acum 25 de zile</div>
        <div> <b>Vizionari:</b> 2145</div>
        <div> <b>Favorit:</b> 354</div>
      </div>

      <hr>

      <p style="font-size: 20px; font-weight: bold;">Descriere</p>

      <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, optio? Autem eum inventore dolore quasi exercitationem voluptates quae ipsa rerum officiis impedit hic reiciendis doloremque et, odit dolorem adipisci aliquid? Laborum blanditiis eius, aperiam corrupti facilis magni inventore quo. Reprehenderit quas harum at aut explicabo accusamus modi suscipit ex voluptatibus? Qui aperiam officia soluta fugit laborum delectus nisi architecto! Dolorum veritatis eum cumque molestiae ipsam ea nesciunt sunt cupiditate, obcaecati repudiandae repellat! Quis, corrupti incidunt?</p>
      <div class="seller-visit-card">
        
          <img class="profile-picture-small"src="https://images1.vinted.net/t/03_01156_7iMZa4a8GqW14anE3zVsmgyE/f800/1641232795.jpeg?s=db85b097375cdd86be155eebbdea6eec986957fd" alt="">
          <p>Adelina Adela</p>
          <img class ="stars"src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/1280px-5_stars.svg.png" alt="">
          <p>Romania, Iasi</p>
          <p>Online acum 34 de minute</p>
      
      </div>
    </div>


  </div>
  <div class="product-specs">
    
<table>
<tr>
  <th>Company</th>
  <th>Contact</th>

</tr>
<tr>
  <td>Alfreds Futterkiste</td>
  <td>Maria Anders</td>
 
</tr>
<tr>
  <td>Centro comercial Moctezuma</td>
  <td>Francisco Chang</td>
 
</tr>
<tr>
  <td>Ernst Handel</td>
  <td>Roland Mendel</td>
 
</tr>
<tr>
  <td>Island Trading</td>
  <td>Helen Bennett</td>
  
</tr>
<tr>
  <td>Laughing Bacchus Winecellars</td>
  <td>Yoshi Tannamuri</td>
 
</tr>
<tr>
  <td>Magazzini Alimentari Riuniti</td>
  <td>Giovanni Rovelli</td>
  
</tr>
</table>
  </div>
</div>

