

.product_info
{
    
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}



p
{
    margin:8px;
}

.button-menu
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width:100%;
    
}

.margin
{
    margin-top:10px;
}

.mesaj
{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    text-align: center;
}

.meta-data
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer
{
    width:49%;
}
.product_description
{
    width: 37%;
    padding-left: 40px;
    
}

.title
{
    font-size: 35px;
    font-weight: bold;
}

.price
{
    font-size: 38px;
}

p
{
    font-size: 20px;
}

.description
{
    color:rgb(136, 136, 136)
}

.condition
{
    background-color:rgba(179, 226, 183, 0.559);
    border-radius: 15px;
    display: inline-block   ;
}