@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.wrapper
{
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}