


<!--
  <div id="main" class="category_bar">
  <p-button label="Chitara" [outlined]="true" ><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
  <p-button label="Chitara" [outlined]="true"><img class="svg" src="../assets/chitara_meniu.svg" alt=""></p-button>
</div>
-->

<div class="bannerr">
  <div class="banner-content">
    <h1>Welcome to Your Website</h1>
    <p>Explore the amazing content we have for you!</p>
  </div>
</div>

<div class="wrapper">


<div class="cards">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>

</div>

  
<div id="footer"></div>